<nav class="navbar  navbar-expand-sm">
    <a class="nav-link" routerLink="/home">
        <div class="btn">
            Principal
        </div>
    </a>
    <a class="nav-link" routerLink="/precios">
        <div class="btn">
            Catalogo
        </div>
    </a>
    <a class="nav-link" routerLink="/sesion">
        <div class="btn">
            Iniciar Sesión
        </div>
    </a>
</nav>

<router-outlet></router-outlet>


<!--
 <a href='https://www.freepik.es/vectores/diseno'>Vector de Diseño creado por macrovector - www.freepik.es</a>



 -->