<div class="containerHome">
    <div class="row">
        <div class="col-md-4">
            <div class="card" id="pasteleria"></div>
        </div>
        <div class="col-md-4">
            <div class="card" id="gourmet"></div>
        </div>
        <div class="col-md-4">
            <div class="card" id="panificados"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" id="pasteleria"></div>
        </div>
        <div class="col-md-4">
            <div class="card" id="gourmet"></div>
        </div>
        <div class="col-md-4">
            <div class="card" id="panificados"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" id="pasteleria"></div>
        </div>
        <div class="col-md-4">
            <div class="card" id="gourmet"></div>
        </div>
        <div class="col-md-4">
            <div class="card" id="panificados"></div>
        </div>
    </div>
</div>
