.col-md-4 {
  padding-top: 3%;
  padding-left: 7%;
}

.card {
  height: 150px;
  width: 250px;
  background:
    linear-gradient(to top, #D678D2 0%, #D678D2 49%, #000000 50%, #D678D2 51%, #A93AA4 51%, #A93AA4 100%);
  border-color: #000000;
  padding-left: 2%;
}

