.col-md-4 {
  padding-top: 3%;
  padding-left: 7%;
}

.card {
  height: 150px;
  width: 250px;
  background:
    linear-gradient(to top, #CFF4FC 0%, #C5E8EF 49%, #000000 50%, #CFF4FC 51%, #C5E8EF 100%);
  border-color: #000000;
  padding-left: 2%;
}

