<div class="main_container">
    <div class="container">
        <p>

            Bienvenido a nuestra pagina web, aqui podra encontrar
            el catalogo con todos los productos que ofrecemos, si desea
            realizar un pedido, simplemente seleccione los productos que
            desea encargar, indique la cantidad y al finalizar tendrá que proporcionar
            sus datos de contacto para que podamos comunicarnos con usted.
        </p>
        <p>
            Gracias por su preferencia.
        </p>
        <img src="assets//panaderia.png">
        <a href='https://www.freepik.es/vectores/diseno'> @ macrovector - www.freepik.es</a>
    </div>
</div>






<!-- 
   <div class="main_contenedor">
        <p>
            Bienvenido a nustra pagina web, aqui podra encontrar 
            el catalogo con todos los productos que ofrecemos, si desea
            realizar un pedido, simplemente seleccione los productos que 
            desea encargar, indique la cantidad y al finalizar tendra que proporcionar 
            sus datos de contacto para que podamos comunicarnos con usted.
        </p>
        Gracias por su visita.
    </div>  

-->
















<!--  


    <div class="row">

        <div class="col-md-3">
            <div class="card" id="pasteleria">
                <div class="row  justify-content-center align-items-center vh-100">
                    <p class="texto">Precios</p>
                    <div class="btn" routerLink="/precios"></div>
                </div>
            </div>
        </div>
  
        <div class="col-md-3">
            <div class="card" id="gourmet">
                <div class="row  justify-content-center align-items-center vh-100">
                    <p class="texto">Productos</p>
                    <div class="btn" routerLink="/tabla-productos"></div>
                </div>
            </div>
        </div>
        <div class="main_img">
            <img src="assets//panaderia.png">
            <a href='https://www.freepik.es/vectores/diseno'>Vector de Diseño creado por macrovector -
                www.freepik.es</a>
        </div>

    </div>


-->