.container a {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 5px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.container {
  margin-top: 7%;
}

.container p {
  color: #7c5500;
  font-weight: 100;
  font-size: 130%;
  position: relative;
  font-family: 'lobster';
  text-align: justify;
  margin-left: 10%;
  z-index: 2;
}

.container img {
  position: fixed;
  z-index: 0;
  width: 50%;
  bottom: 0px;
  left: 0px;
}

@media screen and (max-width: 575px) {
  .container a {
    font-size: 70%;
  }
}

@media screen and (max-height: 575px) {
  .container a {
    font-size: 0;
  }

  .container img {
    display: none
  }
}

@font-face {
  font-family: 'lobster';
  src: url("../fonts/Lobster-Regular.ttf");
}


@font-face {
  font-family: 'delitsch';
  src: url("../fonts/DelitschAntiqua.ttf");
}















/*
.card {
  height: 230px;
  -webkit-transition: height .4s;
}

.card:hover {
  height: 250px;
}

.card:hover .texto {
  position: absorelute;
  padding-top: 50px;
  opacity: 1;
}

.card:hover img.icon {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .6);
}

.btn {
  position: absolute;
  height: 230px;
  //quitar linea azul al seleccionar boton
  outline: none;
  cursor: pointer;
  -webkit-transition: height .4s;
}

.btn:hover {
  height: 250px;
}

#pasteleria {
  background:
    linear-gradient(to left, #D678D2 0%, #D678D2 50%, #A93AA4 51%, #A93AA4 100%);
}

#gourmet {
  background: linear-gradient(to left, #2E2E2E 0%, #2E2E2E 50%, #000000 51%, #000000 100%);
}

#panificados {
  background: linear-gradient(to left, #B8934E 0%, #B8934E 50%, #8A6422 51%, #8A6422 100%);
}

.texto {
  font-family: 'sherlock';
  font-size: 1.2em;
  color: white;
  text-align: center;
  padding-top: 50px;
  opacity: .6;
  -webkit-transition: padding-top .4s;
}

*/
