<div class="containerHome">
    <div class="row">
        <!-- ****1***** -->
        <div class="col-md-3">
            <div class="card" id="pasteleria">
                <div class="row  justify-content-center align-items-center vh-100">
                    <p class="texto">Precios</p>
                    <div class="btn" routerLink="/precios"></div>
                </div>
            </div>
        </div>
        <!-- ****1***** -->
        <!-- ****2***** -->
        <div class="col-md-3">
            <div class="card" id="gourmet">
                <div class="row  justify-content-center align-items-center vh-100">
                    <p class="texto">Productos</p>
                    <div class="btn" routerLink="/tabla-productos"></div>
                </div>
            </div>
        </div>
        <!-- ****2***** -->
        <!-- ****3***** -->

        <!--   <div class="col-md-3">
            <div class="card" id="panificados">
                <div class="row  justify-content-center align-items-center vh-100">
                <p class="texto"></p>
                <div class="btn"></div>
            </div>
            </div>
        </div>
        -->
        <!-- ****3***** -->
    </div>
</div>























<!--  

<div class="row justify-content-center align-items-center vh-100">***BORRAR***


<div class="container">
    <div class="row">
        <div class="col-md-3 offset-md-3">
            <div class="box">
                <header>
                    <div class="contenedor" id="tres">
                        <button id='ocultar-mostrarGurmete'><i class="fas fa-bars"></i></button>
                        <img class="icon">
                        <p class="texto">Pasteleria</p>
                    </div>

                    <div class="contenedor" id="uno">
                        <button id='ocultar-mostrarGurmete'><i class="fas fa-bars"></i></button>
                        <img class="icon">
                        <p class="texto">Gourmet</p>
                    </div>

                    <div class="contenedor" id="dos">
                        <button id='ocultar-mostrarPanificados'><i class="fas fa-bars"></i></button>
                        <img class="icon">
                        <p class="texto">Panificados</p>
                    </div>
                </header>
            </div>
        </div>
    </div>
</div>
-->